In [109]:
import pandas as pd
import numpy as np
#import seaborn as sns
#import matplotlib.pyplot as plt

#from sklearn.preprocessing import OneHotEncoder, OriginalEncode, RobustScaler
#from sklearn.compose import ColumnTransformer
#from sklearn import cluster

In [110]:
# зчитаємо данні з файлу
data = pd.read_csv('train.csv')

# відразу видалимо штучну фічу, яка не стосується експерементальних данних
data.drop("PassengerId", axis = 1, inplace = True)

In [111]:
# подивимось на вигляд данних
print(data.shape)
data.sample(5)

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
318,1,1,"Wick, Miss. Mary Natalie",female,31.0,0,2,36928,164.8667,C7,S
587,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0,1,1,13567,79.2000,B41,C
640,0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
257,1,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.5000,B77,S
487,0,1,"Kent, Mr. Edward Austin",male,58.0,0,0,11771,29.7000,B37,C

survival	Survival	    0 = No,  1 = Yes
pclass	    Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	        Sex	
Age	        Age in years	
sibsp	    # of siblings / spouses aboard the Titanic	
parch	    # of parents / children aboard the Titanic	
ticket	    Ticket number	
fare	    Passenger fare	
cabin	    Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [113]:
# переглянемо типи данних
data.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object